<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "static/css/geral.css"/>
        <title>Linguagens</title>
        <meta charset = "UTF-8"/>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0"/>
    </head>
    <body style = "background-image: url('static/img/galaxia1.jpg');">
        <audio id = "som" preload = "auto" onended = "location.assign ('principal')">
            <source src = "static/sg/button1.mp3" type = "audio/mpeg"/>
        </audio>
        <center>
            <h1>ESPACIAL</h1>
            <br/>
            <button type = "button" onclick = "alemao ()">
                <img src = "static/img/Germany.png" alt = "Auf Deutsch möchte ich spielen" height = "162" width = "260"/>
                <br/>
                <b style = "color: red; text-shadow: 0 0 5px #FFFFFF;">Auf Deutsch möchte ich spielen</b>
            </button>
            <button type = "button" onclick = "espanhol ()">
                <img src = "static/img/Spain.png" alt = "Quiero jugar en español" height = "162" width = "260"/>
                <br/>
                <b style = "color: yellow; text-shadow: 0 0 5px #000000;">Quiero jugar en español</b>
            </button>
            <button type = "button" onclick = "frances ()">
                <img src = "static/img/France.png" alt = "Je voudrais jouer en français" height = "162" width = "260"/>
                <br/>
                <b style = "color: blue; text-shadow: 0 0 5px #FFFFFF;">Je voudrais jouer en français</b>
            </button>
            <p></p>
            <button type = "button" onclick = "ingles ()">
                <img src = "static/img/United_States.png" alt = "I want to play in English" height = "162" width = "260"/>
                <br/>
                <b style = "color: blue; text-shadow: 0 0 5px #FFFFFF;">I want to play in English</b>
            </button>
            <button type = "button" onclick = "italiano ()">
                <img src = "static/img/Italy.png" alt = "Voglio giocare in italiano" height = "162" width = "260"/>
                <br/>
                <b style = "color: green; text-shadow: 0 0 5px #FFFFFF;">Voglio giocare in italiano</b>
            </button>
            <button type = "button" onclick = "portugues ()">
                <img src = "static/img/Brazil.png" alt = "Quero jogar em português" height = "162" width = "260"/>
                <br/>
                <b style = "color: yellow; text-shadow: 0 0 5px #000000;">Quero jogar em português</b>
            </button>
            <p></p>
        </center>
        <script>
            function alemao ()
            {    
                window.name = 'alemao';
                som ();
            }
            function espanhol ()
            {    
                window.name = 'espanhol';
                som ();
            }
            function frances ()
            {    
                window.name = 'frances';
                som ();
            }
            function ingles ()
            {    
                window.name = 'ingles';
                som ();
            }
            function italiano ()
            {    
                window.name = 'italiano';
                som ();
            }
            function portugues ()
            {    
                window.name = 'portugues';
                som ();
            }
            function som ()
            {
                document.getElementById ('som').play ();
            }
        </script>
    </body>
</html>
