<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "static/css/geral.css"/>
        <title>Menu</title>
        <meta charset = "UTF-8"/>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0"/>
    </head>
    <body style = "background-image: url('static/img/galaxia4.jpg'); background-position: left top; background-repeat: repeat; background-size: cover; position: relative;" onload = "menu ()">
        <audio id = "som" preload = "auto">
            <source src = "static/snd/switch1.mp3" type = "audio/mpeg"/>
        </audio>
        <center>
            <h1>SPACIAL</h1>
            <br/>

            <!-- New game button -->
            <button type = "button" onclick = "novo ()">
                <img src = "static/img/alien.png" alt = "New Game" height = "102" width = "200" style = "vertical-align: middle;"/>
                <br/>
                <b id = "p1"></b>
            </button>

            <p></p>

            <!-- How to play button -->
            <button type = "button" onclick = "como ()">
                <img src = "static/img/controle.jpg" alt = "How to Play" height = "95" width = "140" style = "vertical-align: middle;"/>
                <br/>
                <b id = "p2"></b>
            </button>

            <!-- Knowing more button -->
            <button type = "button" onclick = "saber ()">
                <img src = "static/img/livro.png" alt = "Knowing More" height = "96" width = "123" style = "vertical-align: middle;"/>
                <br/>
                <b id = "p3"></b>
            </button>

            <p></p>

            <!-- Credits button -->
            <button type = "button" onclick = "quem ()">
                <img src = "static/img/nerd.png" alt = "Credits" height = "141" width = "132" style = "vertical-align: middle;"/>
                <br/>
                <b id = "p4"></b>
            </button>

            <!-- Change language button -->
            <button type = "button" onclick = "voltar ()">
                <img src = "static/img/idioma.png" alt = "Change Language" height = "140" width = "140" style = "vertical-align: middle;"/>
                <br/>
                <b id = "p5"></b>
            </button>

            <p></p>

            <!-- Contact button -->
            <button type = "button" onclick = "contactar ()">
                <img src = "static/img/idiomas_diferentes.jpg" alt = "Contact" height = "147" width = "126" style = "vertical-align: middle;"/>
                <br/>
                <b id = "p6"></b>
            </button>

            <br/>
        </center>
        <script>
            // Begin of adding texts and their styles on buttons according to the chosen language
            function menu ()
            {
                var estilo = '';
                paragrafos = 6;
                switch (window.name)
                {
                    // Portuguese
                    default:
                        estilo = 'color: green; text-shadow: 0 0 5px #FFFFFF; vertical-align: middle;';
                        var textos = ['Novo Jogo', 'Como Jogar', 'Saber Mais', 'Créditos', 'Trocar Idioma', 'Entrar em Contato'];
                        for (indice = 0; indice < paragrafos; indice ++)
                        {
                            document.getElementById('p' + String (indice + 1)).style.cssText = estilo;
                            document.getElementById('p' + String (indice + 1)).innerHTML = textos [indice];
                        }
                        break;

                    // English
                    case 'ingles':
                        estilo = 'color: blue; text-shadow: 0 0 5px #FFFFFF; vertical-align: middle;';
                        var textos = ['New Game', 'How to Play', 'Knowing More', 'Credits', 'Change Language', 'Get in Touch'];
                        for (indice = 0; indice < paragrafos; indice ++)
                        {
                            document.getElementById('p' + String (indice + 1)).style.cssText = estilo;
                            document.getElementById('p' + String (indice + 1)).innerHTML = textos [indice];
                        }
                        break;

                    // German
                    case 'alemao':
                        estilo = 'color: red; text-shadow: 0 0 5px #FFFFFF; vertical-align: middle;';
                        var textos = ['Neues Spiel', 'Wie zu Spielen', 'Mehr Wissen', 'Abspänne', 'Sprache Ändern', 'In Kontakt Kommen'];
                        for (indice = 0; indice < paragrafos; indice ++)
                        {
                            document.getElementById('p' + String (indice + 1)).style.cssText = estilo;
                            document.getElementById('p' + String (indice + 1)).innerHTML = textos [indice];
                        }
                        break;

                    // Italian
                    case 'italiano':
                        estilo = 'color: green; text-shadow: 0 0 5px #FFFFFF; vertical-align: middle;';
                        var textos = ['Nuovo Gioco', 'Come Giocare', 'Sapere di Più', 'Titoli', "Cambiare l'idioma", 'Mettiti in Contatto'];
                        for (indice = 0; indice < paragrafos; indice ++)
                        {
                            document.getElementById('p' + String (indice + 1)).style.cssText = estilo;
                            document.getElementById('p' + String (indice + 1)).innerHTML = textos [indice];
                        }
                        break;

                    // Spanish
                    case 'espanhol':
                        estilo = 'color: red; text-shadow: 0 0 5px #FFFFFF; vertical-align: middle;';
                        var textos = ['Nuevo Juego', 'Cómo Jugar', 'Saber Más', 'Títulos', 'Cambiar idioma', 'Ponerse en Contacto'];
                        for (indice = 0; indice < paragrafos; indice ++)
                        {
                            document.getElementById('p' + String (indice + 1)).style.cssText = estilo;
                            document.getElementById('p' + String (indice + 1)).innerHTML = textos [indice];
                        }
                        break;

                    // French
                    case 'frances':
                        estilo = 'color: blue; text-shadow: 0 0 5px #FFFFFF; vertical-align: middle;';
                        var textos = ['Nouveau Jeu', 'Comment Jouer', 'Savoir Plus', 'Génériques', 'Changer de Langue', 'Entrer en Contact'];
                        for (indice = 0; indice < paragrafos; indice ++)
                        {
                            document.getElementById('p' + String (indice + 1)).style.cssText = estilo;
                            document.getElementById('p' + String (indice + 1)).innerHTML = textos [indice];
                        }
                        break;
                }
            }
            // End of adding texts and their styles on buttons according to the chosen language

            // Begin of buttons' functions

            // New game function
            function novo ()
            {
                document.getElementById ('som').play ();
                document.getElementById ('som').onended = function () {location.assign ('intro');};
            }

            // How to play function
            function como ()
            {
                document.getElementById ('som').play ();
                document.getElementById ('som').onended = function () {location.assign ('instru');};
            }

            // Knowing more function
            function saber ()
            {
                document.getElementById ('som').play ();
                document.getElementById ('som').onended = function () {location.assign ('histo');};
            }

            // Credits function
            function quem ()
            {
                document.getElementById ('som').play ();
                document.getElementById ('som').onended = function () {location.assign ('creditos');};
            }

            // Change language function
            function voltar ()
            {
                document.getElementById ('som').play ();
                document.getElementById ('som').onended = function () {location.assign ('/');};
            }

            // Contact function
            function contactar ()
            {
                document.getElementById ('som').play ();
                document.getElementById ('som').onended = function () {window.open ('https://maurylukas.herokuapp.com');};
            }

            // End of buttons' functions
        </script>
    </body>
</html>
